@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family:"Poppins",sans-serif;
    justify-content: space-around;
}

body {
    background-image: url("../img/bg-jogo.png");
    background-repeat: no-repeat;
    background-size: 840px 500px;
    background-position: 0px 180px;
    max-width: 100%;
    max-height: 100%;
    background-color: rgb(0, 0, 0);
    font-family:"Poppins",sans-serif;
    color: #ffffff;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
}

#header {
    image-resolution:100%;
    padding: 0;
    margin-top: 0;
    margin-block-end: 0;
    width: 440px ;
    height: 100px;
}

#header:hover {
    transform:scale(1.590); 
    transition: 0,7s;
}

.titulo {
    margin-top: 50px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    font-size: 34px;
    color: #ffffff;
}

.titulo:hover {
    transform: perspective(0,8);
    transition: 0,9s;
    color: rgb(102, 102, 102);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 1px solid rgb(102, 102, 102);
    color: rgb(255, 255, 255);
    width: 90%;
    height: 340px;
    margin-top: 20px;
    margin-left: 80px;
    margin-right: 0px;
    margin-block-end: 30px;
    border-radius: 20px;
    box-shadow: 0 0 6px rgb(102, 102, 102),
    0 0 12px rgb(255, 255, 255),
    0 0 30px rgb(0, 0, 0);
}

.container-voltar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin: 5px;
}

.voltarInicio {
    background-color: black;
    font-family:"Poppins",sans-serif;
    margin-top: 150px;
    padding: 5px;
    height: 50px;
    width: 105px;
    margin-bottom: 10px;
    font-size: 18px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 28px;
    box-shadow: 0 0 6px rgb(0, 0, 0),
    0 0 20px rgb(0, 0, 0),
    0 0 14px rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 5px;
}

.voltarInicio:hover {
    transform: scale(0.9);
    transition: 0.4s;
    color: rgb(136, 136, 136);
}

footer{
    margin-top: 0px;
    margin-block-end: 18px;
    color: rgb(255, 255, 255);
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    font-family: 'Courier Prime', monospace;
  }
  
  footer>a{
    color: rgb(255, 255, 255);
    text-decoration:none;
  }